

{% extends 'base.html.twig' %}





{% block title %}Affaire index{% endblock %}

{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>


{% block stylesheets %}
    <style>
        .custom-form {
            margin-bottom: 30px;
            padding: 20px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-element {
            margin-bottom: 15px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th, .table td {
            padding: 10px 15px;
            border: 1px solid #e1e1e1;
        }

        .table thead th {
            background-color: #007BFF;
            color: #ffffff;
        }

        .table tbody tr:hover {
            background-color: #f6f6f6;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            margin-right: 15px;
        }

        a:hover {
            text-decoration: underline;
        }
        button, a.button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover, a.button:hover {
            background-color: #0056b3;
        }

        a.button {
            display: inline-block; 
            text-align: center;
        }

      .filter-form select, .filter-form input {
    padding: 8px 12px;            
    border: 1px solid #e1e1e1;    
    border-radius: 20px;          
    background-color: white;    
    outline: none;                
    transition: border-color 0.3s;  
}

.filter-form select:focus, .filter-form input:focus {
    border-color: #007BFF;       
}

.flex-form {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap; 
}

.form-element {
    flex: 1;  
    margin-right: 10px;  
}

.button-group {

    gap: 5px;
    height: 50px;         
    padding: 5px 15px;    
    font-size: 14px;      
    border-radius: 5px
    
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center; 
}



    .form-element {
        flex: 1;
    }

     button[name="reset_filter"] {
        background-color: #f44336; 
        float: left 10px;
    }
    .btn-create {
    background-color: #4CAF50; /* Vert */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

.btn-create:hover {
    background-color: #45a049;
   
   
}
 .custom-margin-top {
     margin-bottom: 20px; 
      margin-top:-10px;
        }


/* Styles pour le bouton 'Edit' */
.btn-edit {
 background-color: orange;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 10px; /* espace entre les boutons */
}
.btn-edit::after, .btn-edit::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}



.btn-edit:hover {
  background-color: orange;
}


/* Styles pour le bouton 'Show' */
.btn-show {
    background-color: purple; /* Bleu */
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 10px; /* espace entre les boutons */
}

.btn-show:hover {
    background-color: purple;
}
.action-buttons {
   display: flex;
   align-items: center;
        }

.action-buttons a {
    margin-right: 10px; /* Espacement entre les boutons */
        }


.button-container {
    display: flex;          /* Utilisation de Flexbox */
    justify-content: space-between;  /* Espacement entre les boutons */
    align-items: center;    /* Alignement vertical des boutons */
}

.button-container button {
    margin: 0;  /* Réinitialiser la marge des boutons, si nécessaire */
}     
.select2-container .select2-selection--single {
    height: 38px; /* Hauteur d'un champ de formulaire Bootstrap */
    border: 1px solid #ced4da;
    border-radius: 20px; /* Rayon d'arrondi de Bootstrap */
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px; /* Espacement intérieur pour aligner avec d'autres champs */
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

    </style>
{% endblock %}


<div class="custom-form">
    {{ form_start(form, {'attr': {'class': 'filter-form flex-form'}}) }}
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_RESPONSABLE' in app.user.roles %}
            <div class="form-element">{{ form_row(form.section) }}</div>
            <div class="form-element">{{ form_row(form.user) }}</div>
        {% endif %}
        <div class="form-element">{{ form_row(form.statut) }}</div>
        <div class="form-element">{{ form_row(form.compte_c6) }}</div>
        
        {% if 'ROLE_USER' in app.user.roles %}
            <div class="form-element button-group">
                <button type="submit">Filter</button>
                <button type="submit" name="reset_filter" value="reset">Annuler les filtres</button>
            </div>
        {% endif %}
    {% endif %}
    
    {{ form_end(form) }}
</div>

<!-- Gestion des roles pour la creations des affaires -->
{% if app.user %}
    {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_RESPONSABLE' in app.user.roles %}
        <a href="{{ path('app_admin_article_new') }}" class="btn btn-create custom-margin-top">Créer une nouvelle affaire</a>
    {% endif %}
{% endif %}

<div class="row">
    <!-- Barre de recherche à gauche -->
    <div class="col-md-4">
        <form class="d-flex" role="search" action="{{path('app_admin_article_index')}}" method="GET">
            <input class="form-control me-2" name="search" type="search" placeholder="Chercher avec le titre " aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Chercher</button>
        </form>
    </div>

    <!-- Tableau à droite -->
    <div class="col-md-8">
     
    </div>
</div>

    
    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Compte_c6</th>
                <th>Phase</th>
                <th>Section</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Echeance</th>
                <th>commentaire</th>
                <th>statut</th>
                 <th>utilisateurs</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for affaire in affaires %}
            <tr>
                
                <td>{{ affaire.title }}</td>
                <td>{{ affaire.compteC6 }}</td>
                <td>{{ affaire.phase }}</td>
                <td>
                    {% for section in affaire.sections %}
                    {{ section.name }}
                    {% endfor %}
                </td>
                <td>{{ affaire.dateDeDebut ? affaire.dateDeDebut|date('Y-m-d') : '' }}</td>
                <td>{{ affaire.dateDeFin ? affaire.dateDeFin|date('Y-m-d') : '' }}</td>
                <td>{{ affaire.echeance ? affaire.echeance|date('Y-m-d') : '' }}</td>
                <td>{{ affaire.journalaffiare }}</td>
                <td>{{ affaire.statut }}</td>
                <td>
                    {% for user in affaire.user %}
                        {{ user.username }}
                        {# Add a comma if it's not the last user in the list #}
                        {% if not loop.last %}, {% endif %}
                    {% else %}
                        No users
                    {% endfor %}
                </td>
                
                <td>
                    <div class="action-buttons">
                        <a href="{{ path('app_admin_article_show', {id: affaire.id}) }}" class="btn btn-show">Détail</a>
                        <a href="{{ path('app_admin_article_edit', {id: affaire.id}) }}" class="btn btn-edit">Modifier</a>
                    </div>
                </td>
                    </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   


    
{% endblock %}

