{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Styles généraux */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .table th, .table td {
            padding: 10px 15px;
            border: 1px solid #e1e1e1;
        }
        .table thead th {
            background-color: #007BFF;
            color: #ffffff;
        }
        .table tbody tr:hover {
            background-color: #f6f6f6;
        }

        /* Styles pour les boutons */
        .btn-show, .btn-edit, .btn-create {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: color 0.3s;
        }
        .btn-create{
            float:right;
            
        }
         .style-title {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="style-title">Listes des utilisateurs </h1>

    <a href="{{ path('app_admin_user_new') }}" class="btn btn-create">Crée un nouvel utilisateur </a>


    <form method="GET" action="{{ path('app_admin_user_index') }}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher par nom" name="username">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    

    <table class="table">
        <thead>
            <tr>  
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                 <th>Section</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.section ? user.section.id: 'NA' }}</td>


                <td>
                    <div class="action-buttons">
                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-show">Détails</a>
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-edit">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun résultat trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
